Black = rgb(0, 0, 0);
Almost-black = rgb(48, 48, 48);
Very-dark-gray = rgb(88, 88, 88);
Dark-gray = rgb(128, 128, 128);
Mid-gray = rgb(160, 160, 160);
Light-gray = rgb(195, 195, 195);
Very-light-gray = rgb(220, 220, 220);
White = rgb(255, 255, 255);
Very-dark-red = rgb(64, 0, 0);
Dark-red = rgb(128, 0, 0);
Mid-red = rgb(192, 0, 0);
Red = rgb(255, 0, 0);
Light-red = rgb(255, 192, 192);
Very-dark-green = rgb(0, 64, 0);
Dark-green = rgb(0, 128, 0);
Mid-green = rgb(0, 192, 0);
Green = rgb(0, 255, 0);
Light-green = rgb(192, 255, 192);
Dark-blue = rgb(0, 0, 128);
Mid-blue = rgb(0, 0, 192);
Blue = rgb(0, 0, 255);
Light-blue = rgb(192, 192, 255);
Very-dark-yellow = rgb(64, 64, 0);
Dark-yellow = rgb(128, 128, 0);
Mid-yellow = rgb(192, 192, 0);
Yellow = rgb(255, 255, 0);
Light-yellow = rgb(255, 255, 192);
Very-dark-cyan = rgb(0, 64, 64);
Dark-cyan = rgb(0, 128, 128);
Mid-cyan = rgb(0, 192, 192);
Cyan = rgb(0, 255, 255);
Light-cyan = rgb(192, 255, 255);
Dark-magenta = rgb(128, 0, 128);
Mid-magenta = rgb(192, 0, 192);
Magenta = rgb(255, 0, 255);
Light-magenta = rgb(255, 192, 255);
Dark-orange = rgb(192, 88, 0);
Orange = rgb(255, 128, 0);
Light-orange = rgb(255, 168, 88);
Very-light-orange = rgb(255, 220, 168);